@import './foundation/font';
@import './foundation/variables';
@import './foundation/reset';
@import './foundation/style';

%headerGrid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 32px;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 60px;
  @include flex-layout(space-between, center);

  &__header-list {
    @extend %headerGrid;
    list-style: none;

    padding-right: 86px;

    > li {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  &__action-row {
    @extend %headerGrid;
  }
}
