@import './foundation/reset';
@import './foundation/font';
@import './foundation/variables';
@import './foundation/style';
@import './foundation/mixin';

body {
  background-color: $white;
}

input,
select {
  width: 100%;
  height: 40px;
  color: $gray-text;

  &:focus-visible {
    outline: $pink auto 1px;
  }
}

input {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

li {
  list-style: none;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  padding-bottom: 120px;
  background-color: $white;

  @include mobile {
    padding-bottom: 40px;
  }
}

.header {
  position: relative;
  height: 60px;
  @include flex-layout(space-between, center);

  &__header-list {
    @extend %headerGrid;
    padding-right: 86px;
    color: $black;

    @include control-mobile-menu(none);

    > li {
      @include flex-layout(center, center);
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      height: 60px;

      &:hover {
        padding-top: 3px;
        border-bottom: 3px solid $pink;
      }
    }
  }

  &__hamburger {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;

    @include control-mobile-menu(block);
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  &__action-row {
    @extend %headerGrid;
    @include control-mobile-menu(none);
  }

  &__mobile-menu {
    width: 100%;
    height: 100vh;
    background-color: $white;
    position: fixed;
    top: 0px;
    left: -200vw;

    z-index: 5;

    transition-property: left;
    transition-duration: 0.5s;

    &__show {
      left: 0;
    }

    &__hide {
      left: -9999px;
    }

    &__header {
      height: 60px;
      width: 100%;
      position: absolute;
      top: 0;
      background-color: transparent;
      @include flex-layout(center, center);

      &__hamburger {
        display: none;
        position: absolute;
        top: 20px;
        left: 20px;

        @include control-mobile-menu(block);
      }
    }

    &__content {
      width: 100%;
      margin-top: 60px;
      @include flex-layout(center, center);

      :nth-last-child(1) {
        border-bottom: none;
      }

      > p {
        @extend %primaryText;
        width: 100%;
        padding: 20px 0;
        margin: 0 15px;
        text-align: center;
        border-bottom: 1px solid rgba(42, 42, 42, 0.1);
      }

      @include control-mobile-menu(block);
    }
  }
}

.container {
  padding-top: 80px;

  @include mobile {
    padding: 16px 15px 0;
  }

  &__title {
    @extend %mainTitle;
  }

  &__sub-title {
    @extend %subTitle;
    padding-top: 64px;

    @include mobile {
      padding-top: 24px;
    }
  }

  &__middle-title {
    @extend %middleTitle;

    @include mobile {
      display: none;
    }
  }
}

.payment-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content 70px;
  padding-top: 48px;

  @include mobile {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content max-content max-content;
    padding-top: 24px;
  }

  &__shipping-info {
    @include flex-layout(flex-start, center);
    flex-direction: column;
    align-items: stretch;

    grid-column: 1 / 7;
    grid-row: 1 / 2;

    @include mobile {
      grid-column: 1 / 12;
    }

    &__stepper-container {
      display: grid;
      grid-template-columns: auto 1fr auto 1fr auto;
      justify-content: space-between;
      align-items: center;
      column-gap: 32px;
    }
  }

  &__cart {
    border: 1px solid $light-gray;
    border-radius: 8px;
    padding: 32px 24px;

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    row-gap: 34px;

    grid-column: 8 / 13;
    grid-row: 1 / 3;

    @include mobile {
      grid-column: 1 / 7;
      grid-row: 2 / 3;

      margin-top: 32px;
      padding: 18px 16px;
    }
  }
}

.stepper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 8px;
  align-items: center;

  &__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $light-black-text;

    background-color: $background-color-light;
    color: $light-black-text;

    @include flex-layout(center, center);

    &__active {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid $light-black-text;

      @include flex-layout(center, center);

      background-color: $light-black-text;
      color: $background-color-light;
    }
  }

  &__text {
    @extend %primaryText;
    @include mobile {
      display: none;
    }

    &--active {
      color: $black;
      @include mobile {
        display: none;
      }
    }
  }

  &__line {
    height: 1px;

    background-color: $light-black-text;
    color: $background-color-light;

    &--active {
      height: 1px;
      background-color: $light-black-text
    }
  }
}

.form-panel {
  padding-top: 24px;

  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: max-content;
    column-gap: 32px;
    row-gap: 24px;

    &__input-1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    &__input-2 {
      grid-column: 3 / 7;
      grid-row: 1 / 2;
    }

    &__input-3 {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    &__input-4 {
      grid-column: 4 / 7;
      grid-row: 2 / 3;
    }

    &__input-5 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }

    &__input-6 {
      grid-column: 3 / 7;
      grid-row: 3 / 4;
    }

    &__input-field {
      @include flex-layout(flex-start, flex-start);
      flex-direction: column;
      position: relative;

      &__select {
        appearance: none;
        border-radius: 3px;
      }

      &__icon {
        position: absolute;
        right: 15px;
        bottom: 15px;

        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $light-black-text;
      }

      :nth-child(2) {
        margin-top: 8px;
        padding: 0 16px;
      }

      > label {
        @extend %textCaption-1;
        font-weight: 700;
        color: $gray-text;
      }
    }

    &__step-3 {
      &__input-1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
      }
      &__input-2 {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
      }
      &__input-3 {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
      }
      &__input-4 {
        grid-column: 4 / 7;
        grid-row: 3 / 4;
      }
    }

    @include mobile {
      column-gap: 30px;
      row-gap: 16px;

      &__input-1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
      }

      &__input-2 {
        grid-column: 4 / 7;
        grid-row: 1 / 2;
      }

      &__input-3 {
        grid-column: 1 / 7;
        grid-row: 2 / 3;
      }

      &__input-4 {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
      }

      &__input-5 {
        grid-column: 1 / 7;
        grid-row: 4 / 5;
      }

      &__input-6 {
        grid-column: 1 / 7;
        grid-row: 5 / 6;
      }
    }
  }

  &__radio-btn-group {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    row-gap: 24px;

    .radio-container {
      overflow: hidden;
      display: block;
      position: relative;
      padding-left: 60px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @include flex-layout(flex-start, center);
    }

    /* Hide the browser's default radio button */
    .radio-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      margin: 20px;
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .radio-container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .radio-container input:checked ~ .checkmark {
      background-color: $black;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radio-container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .radio-container .checkmark:after {
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }

    &__option {
      @include flex-layout(flex-start, center);
      grid-auto-columns: max-content;
      border: 1px solid $light-gray;
      border-radius: 4px;
      padding: 10px;
      position: relative;

      &__checked {
        border: 1px solid $black;
      }

      // input[type='radio']:checked:after {
      //   width: 14px;
      //   height: 14px;
      //   border-radius: 15px;
      //   top: 1px;
      //   left: 1px;
      //   position: relative;
      //   background-color: $black;
      //   content: '';
      //   display: inline-block;
      //   visibility: visible;
      //   border: 2px solid white;
      // }

      // input[type='radio'] {
      //   accent-color: $black;
      // }

      // > input {
      //   width: 20px;
      //   height: 20px;
      //   margin-right: 20px;
      // }

      &__description {
        :nth-child(1) {
          @extend %stepButtonText;
          font-weight: 700;
          padding-bottom: 2px;
        }

        :nth-child(2) {
          @extend %textCaption-1;
        }
      }

      > p {
        @extend %textCaption-1;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}

.action-button-group {
  @include flex-layout(space-between, center);
  padding-top: 24px;
  border-top: 1px solid $light-gray;

  grid-column: 1 / 7;
  grid-row: 2 / 3;

  @include mobile {
    grid-row: 3 / 4;

    .step-1 {
      width: 100%;
      justify-content: center;
    }
  }

  &__previous {
    @extend %btn;
    @extend %stepButtonText;
    @include flex-layout(space-between, center);

    color: $black;
  }

  &__next {
    @extend %btn;
    @extend %stepButtonText;
    @include flex-layout(space-between, center);

    background-color: $pink;
    color: $white;
    padding: 15px 48px;
  }

  &__arrow-left {
    border: solid $black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &__arrow-right {
    border: solid $white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &__line-left {
    width: 28px;
    height: 1px;
    background-color: $black;

    margin-left: -8px;
    margin-right: 12px;

    &.left {
      margin-left: -8px;
      margin-right: 12px;
    }

    &.right {
      margin-right: -8px;
      margin-left: 12px;
    }
  }

  &__line-right {
    width: 28px;
    height: 1px;
    background-color: $white;

    margin-right: -8px;
    margin-left: 12px;
  }
}

.product-panel {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  row-gap: 34px;

  &__product {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px;
    column-gap: 20px;

    &__info {
      @include flex-layout(space-between, flex-start);

      @include mobile {
        flex-direction: column;
        align-items: flex-end;

        > div {
          @include flex-layout(flex-start, flex-end);
          flex-direction: column;
        }
      }

      > div > p {
        @extend %primaryText;
        padding-bottom: 18px;
        font-weight: 700;
      }
    }
  }

  &__button-group {
    @include flex-layout(space-between, center);
    width: 90px;

    &__plus {
      @extend %btn;
      @extend %cartBtn;
    }

    &__minus {
      @extend %btn;
      @extend %cartBtn;
    }
  }

  &__calculator {
    border-top: 1px solid $light-gray;

    &__content {
      padding-top: 16px;
      @include flex-layout(space-between, center);

      :nth-child(1) {
        @extend %stepButtonText;
      }

      :nth-child(2) {
        @extend %smallTitle;
      }
    }
  }
}

.footer {
  width: 100%;
  position: absolute;
  background-color: $lightest-gray;

  @include mobile {
    display: none;
  }

  &__sub-title {
    @extend %subTitle;
    padding-bottom: 24px;
  }

  &__container {
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;

    > img {
      padding: 125px 0;
    }

    &__info {
      padding-top: 65px;
      @include flex-layout(space-between, flex-start);

      &__content {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        row-gap: 8px;

        > p {
          @extend %footerContentText;
          color: $gray-text;
        }
      }
    }

    &__contact-us {
      padding-top: 65px;
      justify-self: flex-end;

      > p {
        @extend %footerContentText;
        color: $gray-text;
      }
    }
  }
}

// default is light theme, so just add .dark to control dark theme

html.dark {
  body {
    background-color: $black;
  }
  p {
    color: $white;
  }
  input,
  select {
    background-color: $black;
    color: $gray-text;
  }
  input {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .wrapper {
    background-color: $black;
  }
  .header {
    &__header-list {
      color: $white;
    }
  }
  .container {
    &__middle-title {
      color: $white;
    }
  }
  .stepper {
    &__circle {
      border: 1px solid $gray-text-dark-theme;
      background-color: transparent;
      color: $gray-text-dark-theme;
    }
    &__text {
      &--active {
        color: $white;
      }
    }
    &__line {
      &--active {
        background-color: $white;
      }
    }
  }
  .payment-content {
    &__cart {
      background-color: $dark-gray;
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
  .form-panel {
    &__radio-btn-group {
      .checkmark {
        background-color: $dark-gray;
      }
      .radio-container input:checked ~ .checkmark {
        background-color: $dark-gray;
      }
      &__option {
        border: 1px solid $gray-text-dark-theme;

        &__checked {
          border: 1px solid $white;
        }

        &__description {
          :nth-child(1) {
            color: $white;
          }

          :nth-child(2) {
            color: $gray-text-dark-theme;
          }
        }
      }
    }
  }
  .action-button-group {
    border-top: 1px solid $gray-text-dark-theme;

    &__previous {
      color: $white;
    }

    &__arrow-left {
      border: solid $white;
      border-width: 0 1px 1px 0;
    }

    &__line-left {
      background-color: $white;
    }
  }
  .product-panel {
    &__product {
      &__info {
        > div > p {
          color: $white;
        }
      }
    }
    &__calculator {
      border-top: 1px solid $gray-text-dark-theme;
    }
  }
  .footer {
    background-color: $dark-gray;

    &__sub-title {
      color: $white;
    }
    &__container {
      &__info {
        &__content {
          > p {
            color:  $gray;
          }
        }
      }
    }
  }
}
